<form class="form" action="/user" method="post">
  <input placeholder="Ingrese su nombre..." class="form-input" type="text" name="name">
  <input placeholder="Inrese su mail..." class="form-input" type="email" name="email">
  <input placeholder="Ingrese su contraseña..." class="form-input" type="password" name="password">
  <input class="form-button" type="submit" value="Send">
</form>