<div>
  <div>
    <input type="text" id="chatbox" />
  </div>

  <div>
    <p id="messages"></p>
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>