<div>
  <form>
  <input type="text" name="name" id="name">
  <input type="number" name="age" id="age">
  <input type="submit" value="Send" id="button">
</form>

  <div class="usersList"></div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/form.js"></script>
</div>
